<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panda social Network</title>
    <link rel="stylesheet" href="/integration/css/reset.css">
    <link rel="stylesheet" href="/integration/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="">
            <img src="/integration/image/panda social logo.png" alt="logo PSN" id="logo-header">
        </a>
        <h1 class="header-title">Panda Social Netwwork</h1>

        <section class="login-section">
            <li><a class="button" href="/singin">Inscription</a></li>
            <li><a class="button" href="/login">Connection</a></li>
        </section>
    </header>
  