<%- include('partials/header') %>
<!-- main déjà ouvert -->
<h1> Erreur 404 - pas trouvé</h1>

<img src="/img/panda-hidden.jpg" alt="panda caché">
<!-- main déjà fermé -->
<%- include('partials/footer') %>